@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

@import 'main/resets';
@import 'main/variables';
@import 'icons/icons';
@import 'primaryHeader/primaryHeader';

.App {
   background-color: $bg-secondary;
   width: 100%;
   height: 100%;
}

.container {
   width: 90%;
   margin: 0 auto;
}
