@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

@import 'main/normalize';
@import 'main/variables';
@import 'icons/icons';
@import 'landingPage/landingPage';
@import 'primaryHeader/primaryHeader';
@import 'secondaryHeader/secondaryHeader';

.App {
   background-color: $bg-secondary;
   width: 100%;
   height: 100%;
}

.container {
   width: 90%;
   margin: 0 auto;
   max-width: 1650px;
}

.selected {
   border-bottom: 0.25rem solid $bg-primary;
}

// create overlay
.overlay {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100vw;
   height: 100vh;
   z-index: 999;
   background-color: $bg-secondary;
}

// create flex column
.d-col {
   flex-direction: column;
}
