/*************************
primary header icons start
**************************/
.soccerlive-icon {
   width: 2.75rem;
   height: 2.75rem;
   margin-right: 0.5em;
}

.search-icon {
   color: $white;
   width: 1.5rem;
   height: 1.5rem;
   margin-right: 0.5em;
   position: relative;
   left: 3em;
}

.bell-icon {
   width: 1.75rem;
   height: 1.75rem;
   margin-right: 0.5em;
}

.hamburger-icon {
   width: 2.3rem;
   height: 2.3rem;
}
/*************************
primary header icons end
**************************/

/*************************
   overlay icons start
**************************/
.close-icon {
   color: $bg-primary;
   width: 2.3rem;
   height: 2.3rem;
   position: fixed;
   right: 2em;
   top: 2.7em;
}
/*************************
   overlay icons end
**************************/

/*****************************
   hero header icons start
*****************************/
.home-icon {
   width: 1.6em;
   height: 1.6em;
}

.navigate-next-icon {
   width: 1.2em;
   height: 1.2em;
}
.navigate-before-icon {
   width: 1.2em;
   height: 1.2em;
   color: $text-primary;
}
