.menu-container {
   grid-row: 5/6;
   border-radius: 0.6rem;
   background-color: $white;
   margin-bottom: 1.3125em;
}

.menu {
   display: flex;
   justify-content: space-around;
   padding: 0.8em 1.3em;
   align-items: center;
   &--text {
      font-size: 1.25rem;
   }
   &__item1 {
      color: $bg-primary;
      font-weight: 600;
   }
   &__item2 {
      color: $text-primary;
   }
   &__item3 {
      color: $text-blur;
   }
}
