/*************************
   1. secondary header
   2. secondary header overlay
**************************/

// 1. secondary header
.secondary-header-container {
   grid-row: 2/3;
   background-color: $white;
   padding: 1.3em 0;
   margin-bottom: 1.3em;

   .secondary-header {
      &__list {
         display: flex;
         gap: 1em;
         width: 86%;
         justify-content: space-between;
         align-items: center;
         &:hover {
            cursor: pointer;
         }
      }

      &__items {
         font-size: 1.5rem;
         color: $text-primary;
         font-weight: normal;

         &:nth-child(1) {
            color: $bg-primary;
            font-weight: 600;
            position: relative;
            padding-right: 1em;
            padding-left: 1.3em;

            &::before {
               content: '';
               background: $bg-primary;
               height: 0.35rem;
               width: 9.68rem;
               position: absolute;
               top: 150%;
               left: -0%;
               border-radius: 1em;
            }
         }
      }
   }
}

/*******************************
  2.overlay of secondary header
*********************************/
.secondary-header-container--active {
   .secondary-header {
      &__list {
         height: 90vh;
         margin: 8vh 0 2vh;
         text-align: center;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
      }

      &__items {
         font-size: 2rem;
         margin-bottom: 1.4em;
         color: $text-secondary;

         &:nth-child(1) {
            position: relative;
            color: $bg-primary;
            &::before {
               content: '';
               position: absolute;
               background: $bg-primary;
               height: 0.35rem;
               width: 100vw;
               border-radius: 1em;
               right: -6.8em;
               top: 1.5em;
            }
         }
      }
   }
}

/*************************
      media queries 
**************************/

@media (max-width: 1200px) {
   html {
      font-size: 11px;
   }
   .secondary-header-container {
      .secondary-header {
         &__list {
            width: 90%;
         }
      }
   }
}

@media (max-width: 750px) {
   .secondary-header-container {
      display: none;
   }
}
