@import 'heroPrimary';
@import 'heroSecondary';

.hero-container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   background-color: $white;
   padding: 1em;
   margin-bottom: 1em;
   border: 2px solid black;
   grid-row: 4/5;
   gap: 0.75rem;
}
