@import 'footerPrimay';
@import 'footerSecondary';
@import 'resultCard';

.footer-container {
   grid-row: 8/9;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   margin-bottom: 3em;
   column-gap: 0.75rem;
}
