@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*************************
primary header icons start
**************************/
.soccerlive-icon {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 0.5em;
}

.search-icon {
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5em;
  position: relative;
  left: 3em;
}

.bell-icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.5em;
}

.hamburger-icon {
  width: 2.3rem;
  height: 2.3rem;
}

/*************************
primary header icons end
**************************/
/*************************
   overlay icons start
**************************/
.close-icon {
  color: #fff;
  width: 2.3rem;
  height: 2.3rem;
}

.landing-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat 12, 1fr;
      grid-template-columns: repeat 12, 1fr;
  -ms-grid-rows: repeat 10, auto;
      grid-template-rows: repeat 10, auto;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

/************************
  input placeholder css
*************************/
::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 400;
  font-size: 1.4em;
}
:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 400;
  font-size: 1.4em;
}
::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 400;
  font-size: 1.4em;
}
::placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 400;
  font-size: 1.4em;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  font-weight: 900;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  font-weight: 900;
}

/*****************
   actual css
******************/
.primary-header-container {
  background-color: #161b46;
  padding: 1.8em 0 1.4em;
  color: #fff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.primary-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-header .hamburger {
  display: none;
}

.primary-header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  width: 80%;
}

.primary-header__span--large {
  font-weight: 700;
  font-size: 1.75rem;
}

.primary-header__span--small {
  font-size: 1.1rem;
}

.primary-header__search-input-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / span 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-header__search-input {
  border: none;
  padding: 1.2em 3.8em;
  border-radius: 0.6rem;
  background-color: #202555;
  color: #fff;
  width: 100%;
}

.primary-header__search-input:last-of-type {
  width: 100%;
}

.primary-header__notification-container {
  background-color: #202555;
  border-radius: 2rem;
  padding: 0.8em 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: -3 / span 2;
  justify-self: end;
  cursor: pointer;
}

/*************************
      media queries
**************************/
@media (max-width: 750px) {
  html {
    font-size: 13px;
  }
  .primary-header {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .primary-header .hamburger {
    display: block;
    grid-column: -2 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    justify-self: flex-end;
  }
  .primary-header__logo-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 50%;
  }
  .primary-header__search-input-container {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .primary-header__notification-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    justify-self: flex-end;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 10px;
  }
  .primary-header__notification-container {
    position: relative;
    left: 2rem;
  }
  __search-input {
    padding: 1.2em 1em;
  }
}

/*************************
   1. secondary header
   2. secondary header overlay
**************************/
.secondary-header-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #fff;
  padding: 1.3em 0;
}

.secondary-header-container .secondary-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  width: 86%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondary-header-container .secondary-header__list:hover {
  cursor: pointer;
}

.secondary-header-container .secondary-header__items {
  font-size: 1.5rem;
  color: #635a6b;
  font-weight: normal;
}

.secondary-header-container .secondary-header__items:nth-child(1) {
  color: #161b46;
  font-weight: 600;
  position: relative;
  padding-right: 1em;
  padding-left: 1.3em;
}

.secondary-header-container .secondary-header__items:nth-child(1)::before {
  content: '';
  background: #161b46;
  height: 0.35rem;
  width: 9.68rem;
  position: absolute;
  top: 150%;
  left: -0%;
  border-radius: 1em;
}

/*******************************
  2.overlay of secondary header
*********************************/
.secondary-header-container--active {
  z-index: 2;
}

.secondary-header-container--active .secondary-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondary-header-container--active .secondary-header__items {
  font-size: 1.5rem;
  color: #fff;
}

/*************************
      media queries 
**************************/
@media (max-width: 1200px) {
  html {
    font-size: 11px;
  }
  .secondary-header-container .secondary-header__list {
    width: 90%;
  }
}

@media (max-width: 750px) {
  .secondary-header-container .secondary-header {
    display: none;
  }
}

.App {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1650px;
}

.selected {
  border-bottom: 0.25rem solid #161b46;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1;
  background-color: #161b46;
}

.d-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */