/*****************
 typography colors
******************/
// normal text
$text-primary: #635a6b;
$text-secondary: #767379;
$text-blur: #8b8b8b;
$text-light: #949292;

// highlighted text
$text-highlight: #372546;

// background colors
$bg-primary: #161b46;
$bg-secondary: #f6f6f6;

// page colors
$white: #fff;
$dark-green: #15be65;
$light-green: #e9fff3;
$grey: #b2b2b2;

// blured bg color eg:search bar
$blur-bg: #202555;
