.stats-team-secondary-container {
   grid-column: 1 / span 4;
   grid-row: 3/4;
   background-color: $white;
}

@media (max-width: '990px') {
   .stats-team-secondary-container {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
   }
}
