/*************************
primary header icons start
**************************/
.soccerlive-icon {
   width: 2.75rem;
   height: 2.75rem;
   margin-right: 0.5em;
}

.search-icon {
   color: $white;
   width: 1.5rem;
   height: 1.5rem;
   margin-right: 0.5em;
   position: relative;
   left: 3em;
}

.bell-icon {
   width: 1.75rem;
   height: 1.75rem;
   margin-right: 0.5em;
}

.hamburger-icon {
   width: 2.3rem;
   height: 2.3rem;
}
/*************************
primary header icons end
**************************/

/*************************
   overlay icons start
**************************/
.close-icon {
   color: $white;
   width: 2.3rem;
   height: 2.3rem;
}
